.image1:hover{
    opacity: 0.5;
 }
 body{
    font-family: 'Special Elite', cursive ;
    background: rgb(188, 223, 217) ;
    }
    .header_div{
    background: white ;
    color: rgb(49, 145, 30) ;
    }
    .header_div p{
    font-family: 'Roboto', sans-serif ;
    color: gray ;
    letter-spacing: 2px ;
    font-size: 12px ;
    font-weight: bold ;
    }
    .main_div button{
    font-family: 'Roboto', sans-serif ;
    margin-top: 30px ;
    width: 130px ;
    font-weight: bolder ;
    letter-spacing: 3px ;
    }
    .copy_right_footer{
    position: fixed ;
    color:rgb(122, 187, 224) ;
    bottom: 0 ;
    width: 100% ;
    font-size: 18px ;
    background-color:rgb(139, 230, 184) ;
    line-height: 3 ;
    text-align: center ;
    text-shadow: 5px 5px 5px rgb(151, 149, 149) ;
    }